<!doctype html>
<html>
	<head>
	<title>Q&amp;A</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container">
            <div class="row" id="header">
                    <div class="col-md-8 col-md-offset-2">
                        <p><img src="images/logo.svg" alt="logo" id="logo"></p>
                    </div>
                </div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="text-center">Detail</h1>
				</div>
			</div>
		</div>
	</body>
</html>